* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    padding: 100px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px; 
}