/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */


.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 10px 10px 10px;

}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav {

}

.exerciseHeaderNav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 10px;
}

.exerciseHeaderNav ul li {


}


.exerciseMainContent {
    margin-bottom: 10px;
}


.exerciseAdditionalFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    gap: 10px
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}