
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader, .exerciseFooter {
    min-height: 15vh;
    background-color: darkorchid;
}

.exerciseMain {
    
}

.exerciseMainFeatures {
    display: flex;
    min-height: 40vh;
    gap: 10px;
    margin-bottom: 10px;
}

.exerciseMainFeatures .exerciseMarketingFeature {
    background-color: darkturquoise;
    width: 50%;
}

.exerciseAdditionalFeatures {
    display: flex;
    min-height: 25vh;
    gap: 10px;
    
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    background-color: dodgerblue;
    width: 33%;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}

.exerciseMainFeatures .exerciseMarketingFeature:first-child {
    
}