/* Global Updates */

body {
    background-color: rgb(55, 34, 114);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 50px;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.next-btn {
    display: block;
    padding: 20px 50px;
    background-color: rgb(228, 40, 112);
    border-radius: 30px;
    letter-spacing: 1.5px;
    transition: 0.3s ease-in-out;
    will-change: transform;
    transition: transform 750ms;
}

.next-btn:hover {
    background-color: rgb(202, 39, 94);
    transform: translateY(-5px);
}

/* Title Page */
.title-page {
    display: none;
    height: 100vh;
}

.title-page-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-page-title {
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 12px;
}

.title-page-subtitle {
    margin: 20px auto 40px auto;
}

/* Pick Candy Section */
.pick-candy-section {
    display: none;
}

.pick-candy-title-text-wrap {
    text-align: center;
}

.candy-grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.individual-candy-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.candy-pic {
    display: block;
    width: 80%;
}

.candy-name {
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 18px;
}

.candy-price {
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}

.counter-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius: 20px;
    width: 50%;
    padding: 0 5px;
}

.candy-weight {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    /* background-color: white; */
    color:rgb(55, 34, 114);
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.counter-symbol {
    padding: 2px 8px;
    /* background-color: white; */
    color:rgb(55, 34, 114);
    font-weight: bold;
    cursor: pointer;
}

.display {
    display: block;
}