
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px;
    height: 50%;
}

.exerciseMainContent {


}

.exerciseMainAside {

}